@using SuperSold.UI.AspDotNet.ViewRouting;

<a class="btn btn-primary" href="@Url.Cart().Index()">Cart</a>
<a class="btn btn-primary" href="@Url.Products().MyProducts()">My Products</a>
<a class="btn btn-primary" href="@Url.Account().Logout()">Logout</a>