@using SuperSold.UI.AspDotNet.ViewRouting;

<div class="horizontal-container fill-height">
    <a class="nav-header" href="@Url.Authentication().Login()">Login</a>
    <a class="nav-header" href="@Url.Authentication().SignUp()">Sign Up</a>
</div>