@model IEnumerable<SuperSold.UI.AspDotNet.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if(User.Identity.IsAuthenticated) {
        <h1 class="display-4">Welcome, @(User.Identity.Name)!</h1>
    } else {
        <h1 class="display-4">Welcome</h1>
    }

</div>

<div class="table">
    @foreach(var item in Model) {
        <div class="row" style="border:solid; border-width:2px; border-radius:5px;">
            @await Html.PartialAsync("_BuyableProductRowPartial", item)
        </div>
    }
</div>