@using SuperSold.UI.AspDotNet.ViewRouting;
@model string

@{
    ViewData["Title"] = "Search Page";
}

<h1>Searching for @Model</h1>

<div class="container">
    <input type="text" id="searchTextBox" name="searchText" placeholder="search"/>
    <a class="btn btn-primary" id="searchButton"></a>
</div>

<br />

<div>
    @await Html.ScrollablePartialView(Url.Action("SearchPartial", "Home")!, Model)
</div>

<script>

    document.getElementById("searchButton").onclick = function () {
        var search = $('#searchTextBox').val();
        window.location = '@Url.Action("Search", "Home")?page=' + (@ViewBag.Page ?? "0") + '&search=' + search;
    }

</script>