@{
    ViewData["Title"] = "Terms and Conditions";
}
<h1>@ViewData["Title"]</h1>

<p>Thank you for visiting this site.</p>

<p>
    This website is a non-commercial learning project, and so does NOT hold any guarantee of the safety of the data you publish.
    By using this website, you understand that everything you provide(username, email, password, etc...) is <b>not safe.</b> 
    Do NOT insert any potentially sensible information; SuperSold will not be responsible or liable for any data breaches and anything
    that could result in a leak of data. DO NOT GIVE ANY INFORMATION YOU'RE NOT COMFORTABLE PUBLISHING PUBLICLY.
</p>

<p>
    These terms could change from time to time without notice, so you should review them whenever you visit the site.
</p>