@model SuperSold.UI.AspDotNet.Models.Product

<div style="height:15vh">

    <!--image-->
    <div style="float:left;height:100%;width:16%;">
        <img class="img-fluid img-responsive" style="max-height:100%;" src="@Html.DisplayFor(x => x.UserImgUrl)" alt="Product image" />
    </div>

    <!--Description-->
    <div style="float:left;height:100%;width:60%;overflow:hidden;">
        <h2>@Html.DisplayFor(x => x.Title)</h2>
        <p>@Html.DisplayFor(x => x.Description)</p>
    </div>

    <!--Price & Edit Button-->
    <div style="float:right;height:100%;">
        <div class="align-text-top" style="text-align:end; width:100%;">
            <p><b>@Html.DisplayFor(x => x.Price)€</b></p>
        </div>
        
        <div>
            <div style="float:left">
                @using(Html.BeginForm("AddToWishlist", "Cart", Model, FormMethod.Post)) {
                    <input type="submit" value="Add To Wishlist" class="btn btn-primary" />
                }
            </div>
            <div style="float:right">
                @using(Html.BeginForm("AddToCart", "Cart", Model, FormMethod.Post)) {
                    <input type="submit" value="Add To Cart" class="btn btn-primary" />
                }
            </div>
        </div>


    </div>

</div>