
<style>

    #closeUserNotificationDisplayBtn {
        width:5rem;
    }

</style>

<div class="notify-user-container" data-visibility="hidden">

    <p class="notify-user-text-presenter text-align-center">Default text here.</p>
    <div class="default-container justify-content-left">
        <button type="button" id="closeUserNotificationDisplayBtn">Ok</button>
    </div>

</div>

<script>

    const container = document.getElementsByClassName("notify-user-container")[0];
    
    $("#closeUserNotificationDisplayBtn").click(function() {
        container.setAttribute("data-visibility", "hidden");
    });

</script>