@model (string RowPartialName, IEnumerable<Product> Products)

@foreach(var product in Model.Products) {
    <div class="row" style="border:solid; border-width:2px; border-radius:5px;">
        @await Html.PartialAsync(Model.RowPartialName, product)
    </div>
}