@using SuperSold.UI.AspDotNet.ViewComponents;
@model (string RowType, IEnumerable<Product> Products)

@if(!Model.Products.Any()) {

    <div class="btn" id="endOfSectionHeader">
        <h3>End Of Section.</h3>
    </div>

    return;
}

@foreach(var product in Model.Products) {
    <div style="border:solid; border-width:2px; border-radius:5px;">

        @await Component.InvokeAsync("ProductRow", new {
            rowTemplateName = Model.RowType, product = product
        })

    </div>
}