@using System.Web;
@model ScrollableViewModel

@{
    ArgumentNullException.ThrowIfNull(Model);
    string pageId = Model.ScrollableId;
}

<div class="table" id="scrollContainer@(pageId)">
</div>

<div class="container align-content-center">
    <button id="loadMoreBtn@(pageId)">Load More</button>
</div>

<script type="text/javascript">

    window.addEventListener("load", pLoadMore);
    document.getElementById("loadMoreBtn@(pageId)").onclick = pLoadMore;
    const searchItem@(pageId) = '@Model.SearchItem';

    const scrollInfo@(pageId) = new ScrollableObjectInfo('@Model.Url', $("#scrollContainer@(pageId)"));

    function pLoadMore() {
        loadMoreWithSearch(scrollInfo@(pageId), searchItem@(pageId));
    }

</script>