@using System.Web;
@model ScrollableViewModel<Product>

@{
    ArgumentNullException.ThrowIfNull(Model);
    var products = await Model.NextAsync(2);
}

<div class="table" id="scrollContainer">

</div>

<div class="container align-content-center">
    <button id="loadMoreBtn">Load More</button>
</div>

<script src="~/js/jQuery.js"></script>
<script type="text/javascript">

    document.getElementById("loadMoreBtn").onclick = loadMore;
    let page = 0;

    function loadMore() {

        $.ajax({
            url: '@Url.Action("Index", "Home")',
            type: 'GET',
            data: { page: page },
            dataType: "html",
            cache: false,
        }).done(function(result) {
            console.log("success");
            document.getElementById("scrollContainer").innerHTML += result;
            page++;
        }).fail(function(error) {
            console.log("failed");
            console.log(error);
        });

    }

</script>