@model IEnumerable<SuperSold.UI.AspDotNet.Models.Product>

@{
    ViewData["Title"] = "MyProducts";
}

<div>
    <div class="col-2">
        <h1><b>MyProducts</b></h1>
    </div>
    <div class="mr-2">
        <a asp-action="Publish" class="btn btn-primary">Publish New</a>
    </div>
</div>

<div class="table">
    @foreach(var item in Model) {
        <div class="row" style="border:solid; border-width:2px; border-radius:5px;">
            @await Html.PartialAsync("_ProductRowPartial", item)
        </div>
    }
</div>