@model IEnumerable<SuperSold.UI.AspDotNet.Models.Product>

@{
    ViewData["Title"] = "MyProducts";
}

<h1>MyProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) {
    <div>
        @await Html.PartialAsync("ProductRow", item);
    </div>
}
