@using SuperSold.UI.AspDotNet.ViewRouting;
@model IEnumerable<SuperSold.UI.AspDotNet.Models.Product>

@{
    ViewData["Title"] = "MyProducts";
}

<div>
    <div class="col-2">
        <h1><b>MyProducts</b></h1>
    </div>
    <div class="mr-2">
        <form action="@Url.Products().Publish()">
            <input type="submit" class="button" value="Publish New"/> 
        </form>
    </div>
</div>

<br/>

<div class="form-container">
    @await Html.ScrollablePartialView(Url.Products().MyProductsPartial()!)
</div>