@using System.Security.Claims;
@using SuperSold.UI.AspDotNet.ViewRouting;
@model SuperSold.UI.AspDotNet.Models.Product

@{
    ViewData["Title"] = "Publish";
}

<style>
    .form-container {
        width: 30vw;
    }
</style>

<div class="default-container">
    <div class="margin-auto">

        <h1 class="text-center">Publish</h1>
        <h4 class="text-center">Product</h4>

        <form action="#" id="publishForm">

            <div class="vertical-container form-container">

                <div class="form-item">
                    <label class="form-item-label" for="userImgUrl">Image</label>
                    <input type="text" class="form-item-input" name="userImgUrl"/>
                </div>

                <div class="form-item">
                    <label class="form-item-label" for="title">Title</label>
                    <input type="text" class="form-item-input" name="title"/>
                </div>

                <div class="form-item">
                    <label class="form-item-label" for="description">Description</label>
                    <textarea class="form-item-input" name="description"></textarea>
                </div>

                <div class="form-item">
                    <label class="form-item-label" for="price">Price</label>
                    <input type="text" class="form-item-input" name="price"/>
                </div>

                <div class="form-item margin-auto">
                    <input type="submit" value="Publish" class="form-submit-btn" id="submitPublishForm" />
                </div>

            </div>

        </form>


    </div>
</div>

<div>
    <a class="text-center" href="@Url.Products().MyProducts()">Back to MyProducts</a>
</div>

<script type="text/javascript">

    $("#submitPublishForm").click(function () {

        $("#publishForm").validate({
            rules: {
                title: {
                    required: true,
                    minlength: 8,
                    maxlength: 50
                },
                description: {
                    required: true,
                    minlength: 10,
                    maxlength: 2000
                },
                price: {
                    required: true,
                    number: true,
                    min: 0
                }
            },
            messages: {
                price: {
                    min: "Please enter a positive number"
                }
            },
            submitHandler: function (form) { submitLogin(form); }
        });

    });

    function submitLogin(form) {

        var data = $(form).serialize();

        $.ajax({
            url: '@(Url.Products().Publish())',
            type: 'POST',
            data: data,
            cache: false
        }).done(function (data) {
            console.log("created new product");
            notifyUser("Created successfully.");
            window.location = '@Url.Products().MyProducts()';
        }).fail(function (error) {
            console.error(error);
            notifyUser("There has been an error trying to create your product.");
        });

    }


</script>