
:root,
:root.dark {
    --primary-background-color: #222222;
    --secondary-background-color: #333333;
    --danger-background-color: #CC0000;
    --danger-secondary-background-color: #DD0000;
    --danger-text-color: white;
    --border-color: #444444;

    --text-color: #F8F8F8;
    --error-text-color: #FF2222;

    --navbar-background-color: #151515;
    --navbar-text-color: white;
    --navbar-header-highlight: black;
    --navbar-border-color: white;

    --footer-background-color: #151515;
    --footer-text-color: white;

    --default-border: 0.5px solid gray;
    --default-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    --input-background-color: #474748;
    --input-text-color: white;

    --danger-input-background-color: #DD0000;
    --danger-text-color: white;

    --button-background-color: #474748;
    --button-hover-color: #5a5a5a;
    --button-click-color: #888888;
    --button-text-color: #ffffff;

    --danger-button-background-color: #DD0000;
    --danger-button-hover-color: #BB0000;
    --danger-button-click-color: #AA0000;
    --danger-button-text-color: white;

    --checkbox-background-color:#474748;
    --checkbox-checked-color: #559CAD;

    --danger-checkbox-background-color: #220000;
    --danger-checkbox-checked-color: black;

    --link-text-color: rgb(97, 152, 205);
    --link-text-hover-color: rgb(110, 165, 220);

    --scrollbar-background-color: transparent;
    --scrollbar-thumb-color: #474748;
    --scrollbar-thumb-hover-color: #575758;
}

:root.light {
    --primary-background-color: #F8F8F8;
    --secondary-background-color: #ECECEC;
    --danger-background-color: #CC0000;
    --danger-secondary-background-color: #BB0000;
    --danger-text-color: black;

    --text-color: #333333;
    --error-text-color: red;

    --border-color: #DADADA;

    --navbar-background-color: #FFFFFF;
    --navbar-text-color: #333333;
    --navbar-header-highlight: #DFDFDF;
    --navbar-border-color: white;

    --footer-background-color: #FFFFFF;
    --footer-text-color: #333333;

    --default-border: 0.5px solid #AAAAAA;
    --default-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    --input-background-color: #FFFFFF;
    --input-text-color: #333333;

    --danger-input-background-color: #DD0000;
    --danger-text-color: #222222;

    --button-background-color: #FFFFFF;
    --button-hover-color: #EAEAEA;
    --button-click-color: #DDDDDD;
    --button-text-color: #333333;

    --danger-button-background-color: #DD0000;
    --danger-button-hover-color: #BB0000;
    --danger-button-click-color: #AA0000;
    --danger-button-text-color: black;

    --checkbox-background-color: #FFFFFF;
    --checkbox-checked-color: blue;

    --link-text-color: #0000CD;
    --link-text-hover-color: blue;

    --scrollbar-background-color: transparent;
    --scrollbar-thumb-color: #999999;
    --scrollbar-thumb-hover-color: #777777;
}