
.item-row-container {
    min-height: 150px;
    height: 15vh;
    padding: 0;
    overflow:clip;
}

.counter-container {
    display:flex;
    background:white;
    flex-direction:row;
    border:1px solid gray;
}

.counter-container:focus-within {
    outline: 1px solid black;
}

.counter-text {
    flex-grow:2;
    border:none;
}

.counter-text:focus{
    outline:none;
}

.counter-button {
    overflow:clip;
    border-radius: 10px 1px 1px 1px;
}