@using SuperSold.UI.AspDotNet.ViewRouting;
@model (Guid UserId, Guid Token)

<style>

    .form-container{
        border-radius:50px;
        border: 1px solid black;
    }

</style>


<div class="horizontal-container">

    <div class="margin-auto form-container">
        
        <form action="#" id="submitNewPasswordForm">
        
            <input type="hidden" name="userId" value="@Model.UserId"/>
            <input type="hidden" name="token" value="@Model.Token"/>
        
            <div>
                <label for="newPassword">New Password: </label>
                <input type="password" name="newPassword" id="newPassword" class="form-control" />
            </div>

            <div>
                <label for="confirmPassword">Confirm Password: </label>
                <input type="password" name="confirmPassword" class="form-control" />
            </div>

            <div>
                <input type="submit" id="submitFormBtn" value="Submit"/>
            </div>

        </form>

    </div>

</div>

<script type="text/javascript">

    $("#submitFormBtn").click(function() {

        $("#submitNewPasswordForm").validate({
            rules: {
                newPassword: {
                    required: true,
                    minlength: 8
                },
                confirmPassword: {
                    equalTo: $("#newPassword")
                }
            },
            submitHandler: function(form) { submitRequest(form); }
        });

    });

    function submitRequest(form) {

        var data = $(form).serialize();
        $.ajax({
            url: "@(Url.Rollbacks().ForgotPassword())",
            data: data,
            type: 'POST',
            cache: false
        }).done(function(data) {

            console.log("The password has been changed successfully.");
            notifyUser("The password has been changed successfully.");
            window.location.href = "@Url.Authentication().Login()";

        }).fail(function(error) {

            console.log(error);
            notifyUser("There has been an error changing the password.");

        });

    }

</script>