@using SuperSold.UI.AspDotNet.ViewRouting;
<style>

    .form-container {
        border-radius: 50px;
        border: 1px solid black;
    }

</style>


<div class="horizontal-container">

    <div class="margin-auto form-container">

        <form action="#" id="submitRequestForm">

            <div>
                <label for="username">Write your username: </label>
                <input type="text" name="username" class="form-control"/>
            </div>

            <div>
                <input type="submit" id="submitFormBtn"/>
            </div>

        </form>

    </div>

</div>


<script>


    $("#submitFormBtn").click(function () {

        $("#submitRequestForm").validate({
            rules: {
                username: {
                    required: true
                }
            },
            messages: {
                username: {
                    required: "Please insert the new username"
                }
            },
            submitHandler: function (form) { submitRequest(form); }
        });

    });

    function submitRequest(form) {

        var data = $(form).serialize();
        $.ajax({
            url: "@(Url.Rollbacks().ForgotPasswordRequest())",
            data: data,
            type: 'POST',
            cache: false
        }).done(function(data) {

            console.log("Created request for password reset.");
            notifyUser(data);

        }).fail(function(error) {

            console.warn(error);
            notifyUser(error.responseText);

        })

    }

</script>