@using SuperSold.UI.AspDotNet.Extensions;
@using SuperSold.UI.AspDotNet.ViewRouting;

@{
    ViewData["Title"] = "MyCart";
    var cartViewId = Guid.NewGuid().ToValidHtml();
    var wishlistViewId = Guid.NewGuid().ToValidHtml();
}

<head>
    <link rel="stylesheet" href="~/css/cartview.css" />
</head>

<div class="sectionContainer" id="cartContainer">

    <div id="cartHeaders">

        <h1><b>Cart</b></h1>

        <button id="buyButton">Buy</button>

    </div>

    <div class="bg-body-secondary productContainer" id="cartProductsContainer">

        @await Html.ScrollablePartialView(Url.Cart().IndexPartial()!, customId: cartViewId)

    </div>

</div>

<br />
<br />

<div class="sectionContainer" id="wishlistContainer">

    <h2><b>Wishlist</b></h2>

    <div class="bg-body-secondary productContainer" id="wishlistProductsContainer">

        @await Html.ScrollablePartialView(Url.Wishlist().IndexPartial()!, customId: wishlistViewId)

    </div>

</div>

<script type="text/javascript">

    const cartScrollable = $("#@(cartViewId).scroll-container");
    const wishlistScrollable = $("#@(wishlistViewId).scroll-container");

    cartScrollable.on('scrollableChanged', function (e, eventInfo) {
        console.log(e);
        console.log(eventInfo);
        listenEvents();
    });

    wishlistScrollable.on('scrollableChanged', function (e, eventInfo) {
        console.log(e);
        console.log(eventInfo);
    });

    function listenEvents() {

        $(document).off('moveToWishlist');
        $(document).on('moveToWishlist', function (e, eventInfo) {
            console.log(e);
            console.log(eventInfo);
            loadProductInScrollable(eventInfo, wishlistScrollable, "@(PartialViewNames.WishlistRow)");
        });

        $(document).off('moveToCart');
        $(document).on('moveToCart', function (e, eventInfo) {
            console.log(e);
            console.log(eventInfo);
            loadProductInScrollable(eventInfo, cartScrollable, "@(PartialViewNames.MyCartRow)");
        });

    }

</script>