@using SuperSold.UI.AspDotNet.ViewRouting;

@{
    ViewData["Title"] = "MyCart";
}

<head>
    <link rel="stylesheet" href="~/css/cartview.css"/>
</head>

<div class="sectionContainer" id="cartContainer">

    <div id="cartHeaders">

        <h1><b>Cart</b></h1>

        <button id="buyButton">Buy</button>

    </div>

    <div class="bg-body-secondary productContainer" id="cartProductsContainer">

        @await Html.ScrollablePartialView(Url.Cart().IndexPartial()!)

    </div>

</div>

<br />
<br />

<div class="sectionContainer" id="wishlistContainer">

    <h2><b>Wishlist</b></h2>

    <div class="bg-body-secondary productContainer" id="wishlistProductsContainer">
        
        @await Html.ScrollablePartialView(Url.Wishlist().IndexPartial()!)

    </div>

</div>