@using SuperSold.UI.AspDotNet.ViewRouting;

<style>

    .confirm-overlay {
        height:20rem;
        width:40rem;
    }

</style>

<div>
    <button class="button danger-button" type="button" id="deleteAccountBtn">Delete Account</button>
</div>

<div class="form-container hide confirm-overlay accent-danger" id="confirmOverlay">

    <h3 class="text-center">There's no turning back.</h3>
    <form action="#" id="confirmDeleteAccountForm">

        <div class="form-item">
            <label for="password" class="form-item-label">Write password: </label>
            <input type="password" name="password" class="form-item-input danger-input" />
        </div>

        <div class="form-item">
            <label for="confirm" class="form-item-label label-checkmark">
                <input class="checkbox checkbox-multilined danger-checkbox" type="checkbox" name="confirm" />
                <span class="checkbox-description">
                    I understand that this operation will be irreversible and instantaneous.
                    The account and all info related to it(published products, etc..)will be permanently deleted.
                </span>
            </label>
        </div>

        <div class="form-item">
            <button type="submit" id="submitDeleteAccountConfirmBtn" class="form-submit-btn danger-button">Confirm Delete Account</button>
        </div>

    </form>
</div>

<script type="text/javascript">

    $("#deleteAccountBtn").click(function () {
        $("#confirmOverlay").slideToggle();
    });

    $("#submitDeleteAccountConfirmBtn").click(function() {

        $("#confirmDeleteAccountForm").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 8
                },
                confirm: {
                    required: true
                }
            },
            messages: {

            },
            submitHandler: function(form) { submitAccountDeletion(form); }
        });

    });

    function submitAccountDeletion(form) {

        var values = $(form).serialize();
        $.ajax({
            url: '@Url.Profile().DeleteAccount()',
            data: values,
            type: 'DELETE',
            cache: false
        }).done(function(data) {
            console.log("Delete account successfully.");
            notifyUser("Your account has been deleted successfully. Thank you for using my learning e-commerce site!");
            window.location = '@Url.Home().Index()';
        }).fail(function(error) {
            console.log("Failed to delete the account for reason:");
            console.warn(error);
            notifyUser("There has been an error deleting your account.");
        });

    }

</script>