@using SuperSold.UI.AspDotNet.ViewRouting;

<style>

    .confirm-overlay {
        position:absolute;
        height:20rem;
        width:40rem;
    }

</style>

<div>
    <button class="" type="button" id="deleteAccountBtn">Delete Account</button>
</div>

<div class="hide confirm-overlay" id="confirmOverlay">

    <h3>There's no turning back.</h3>
    <form action="#" id="confirmDeleteAccountForm">

        <div>
            <label for="password">Write password: </label>
            <input type="password" name="password" class="form-control"/>
        </div>

        <div>
            <label for="confirm">
                I understand that this operation will be irreversible and instantaneous. 
                The account and all info related to it(published products, etc..)will be permanently deleted.
            </label>
            <input class="form-check-input" type="checkbox" name="confirm"/>
        </div>

        <div>
            <button type="submit" id="submitDeleteAccountConfirmBtn">Confirm Delete Account</button>
        </div>

    </form>
</div>

<script type="text/javascript">

    $("#deleteAccountBtn").click(function () {
        $("#confirmOverlay").toggle();
    });

    $("#submitDeleteAccountConfirmBtn").click(function() {

        $("#confirmDeleteAccountForm").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 8
                },
                confirm: {
                    required: true
                }
            },
            messages: {

            },
            submitHandler: function(form) { submitAccountDeletion(form); }
        });

    });

    function submitAccountDeletion(form) {

        var values = $(form).serialize();
        $.ajax({
            url: '@Url.Profile().DeleteAccount()',
            data: values,
            type: 'DELETE',
            cache: false
        }).done(function(data) {
            console.log("Delete account successfully.");
            notifyUser("Your account has been deleted successfully. Thank you for using my learning e-commerce site!");
            window.location = '@Url.Home().Index()';
        }).fail(function(error) {
            console.log("Failed to delete the account for reason:");
            console.warn(error);
            notifyUser("There has been an error deleting your account.");
        });

    }

</script>