@using SuperSold.UI.AspDotNet.ViewRouting;

<div>

    <div>
        <label>Password: </label>
        <span>*********</span>
        <button type="button" id="updatePasswordBtn">Update</button>
    </div>

    <div class="hide" id="passwordEditorContainer">

        <form action="#" id="passwordForm">

            <div class="form-group">
                <label for="password">New Password: </label>
                <input type="password" name="password" id="passwordInputText" class="form-control" />
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password: </label>
                <input type="password" name="confirmPassword" class="form-control" />
            </div>

            <div class="form-group">
                <label for="oldPassword">Current Password: </label>
                <input type="password" name="oldPassword" id="oldPasswordInputText" class="form-control" />
            </div>

            <div class="form-group">
                <button type="submit" id="passwordUpdateSubmitBtn">Confirm Update</button>
            </div>

        </form>


    </div>

</div>

<script type="text/javascript">

    $("#updatePasswordBtn").click(function () {
        $("#passwordEditorContainer").slideToggle();
    });

    $("#passwordUpdateSubmitBtn").click(function () {

        $("#passwordForm").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 8
                },
                confirmPassword: {
                    equalTo: "#passwordInputText"
                },
                oldPassword: {
                    required: true,
                    minlength: 8
                }
            },
            messages: {
                password: {
                    required: "Please insert the new password"
                },
                confirmPassword: "Must be equal to the given new password.",
                oldPassword: {
                    required: "Please insert your password to confirm the change.",
                    minlength: "Passwords have a minimum length of 8 characters."
                }
            },
            submitHandler: submitPasswordChangeForm
        });

    });

    function submitPasswordChangeForm() {

        $.ajax({
            url: '@(Url.Profile().ChangePassword())',
            data: { 'newPassword': $("#passwordInputText").val(), 'password': $("#oldPasswordInputText").val() },
            type: 'POST',
            cache: false
        }).done(function (success) {
            console.log("changed password");
            notifyUser("The account password has been changed successfully.");
        }).fail(function (error) {
            console.log(error);
            notifyUser("There has been an error editing the password.");
        });

    }

</script>