@model AccountInfoModel

<div class="">
    <h1 class="usernameTextPresenter text-align-center">@Model.Username</h1>
</div>

<h2>Profile Information:</h2>

<div>
    @await Component.InvokeAsync("ProfileEditor", new { editType = "UserName", model = Model.Username })
    @await Component.InvokeAsync("ProfileEditor", new { editType = "Password", model = ""})
    @await Component.InvokeAsync("ProfileEditor", new { editType = "Email", model = Model.Email })
</div>