@using SuperSold.UI.AspDotNet.ViewRouting;
@model SuperSold.UI.AspDotNet.Models.LoginModel

@{
    Layout = "_Layout";
}

<style>

    .main-container {
        top:25%;
    }

</style>

<div class="main-container force-center-page default-container">
    <div class="margin-auto">

        <h1 class="text-center">Login</h1>

        <form action="#" id="loginForm">

            <div class="vertical-container form-container">

                <div class="form-item">
                    <label for="username" class="form-item-label">Username</label>
                    <input type="text" name="username" class="form-item-input" />
                </div>

                <div class="form-item">
                    <label for="password" class="form-item-label">Password</label>
                    <input type="password" name="password" class="form-item-input" />
                </div>

                <div class="form-item">
                    <label class="form-item-label label-checkbox" for="rememberMe">
                        <input type="checkbox" name="rememberMe" class="checkbox" />
                        <span class="checkbox-description">Remember Me</span>
                    </label>
                </div>

                <div class="form-item margin-auto">
                    <input type="submit" value="Login" class="form-submit-btn" id="submitLoginForm" />
                </div>

            </div>

        </form>

        <br/>

        <div>
            <a class="forgot-password-link" href="@Url.Rollbacks().ForgotPasswordRequest()">Forgot password?</a>
        </div>

    </div>
</div>

<script type="text/javascript">

    $("#submitLoginForm").click(function() {

        $("#loginForm").validate({
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                username: "Must provide an username.",
                password: "Must provide your password."
            },
            submitHandler: function(form) { submitLogin(form); }
        });

    });

    function submitLogin(form) {

        var data = $(form).serialize();
        data = data.substring(0, data.length - 3) + data.substring(data.length - 3).replace("on", "true");

        $.ajax({
            url: '@(Url.Authentication().Login())',
            type: 'POST',
            data: data,
            cache: false
        }).done(function(data) {
            console.log("logged in.");
            window.location = '@Url.Home().Index()';
        }).fail(function(error) {

            if(error.status == 404) {
                notifyUser("You have inserted the wrong credentials.");
            } else {
                notifyUser("There has been an error trying to log in.");
            }

            console.error(error);

        });

    }
    
</script>