@using SuperSold.UI.AspDotNet.ViewRouting;
@model SuperSold.UI.AspDotNet.Models.SignUpModel

@{
    ViewData["Title"] = "Sign Up";
}

<style>
    
    .main-container {
        top: 40%;
    }

    .checkbox-description {
        width:250px;
    }

</style>

<div class="main-container force-center-page default-container">
    <div class="margin-auto">

        <h1 class="text-center">Sign up</h1>

        <div class="vertical-container form-container">

            <form action="#" id="signupForm">
        
                <div class="form-item">
                    <label for="username" class="form-item-label">Username: </label>
                    <input type="text" name="username" class="form-item-input" />
                </div>

                <div class="form-item">
                    <label for="email" class="form-item-label">Email: </label>
                    <input type="email" name="email" class="form-item-input" />
                </div>

                <div class="form-item">
                    <label for="password" class="form-item-label">Password: </label>
                    <input type="password" name="password" class="form-item-input" id="passwordField" />
                </div>

                <div class="form-item">
                    <label for="repeatPassword" class="form-item-label">Confirm Password: </label>
                    <input type="password" name="repeatPassword" class="form-item-input" />
                </div>

                <div class="form-item">
                    <label class="form-item-label label-checkmark" for="acceptTerms">
                        <input type="checkbox" name="acceptTerms" class="checkbox checkbox-multilined"/>
                        <span class="checkbox-description">
                            I agree with the <a href="@Url.Home().TermsAndConditions()">terms and conditions</a>,
                            <a href="@Url.Home().Privacy()">privacy agreement</a>, and
                            understand that everything I provide is not guaranteed to be protected by data breaches.
                        </span>
                    </label>
                </div>

                <div class="form-item">
                    <label class="form-item-label label-checkmark" for="rememberMe">
                        <input type="checkbox" name="rememberMe" class="checkbox" />
                        <span class="checkbox-description">Remember Me</span>
                    </label>
                </div>

                <div class="form-item margin-auto">
                    <input type="submit" value="SignUp" class="form-submit-btn" id="submitSignupForm" />
                </div>

            </form>

        </div>

    </div>
</div>

<script>

    $("#submitSignupForm").click(function() {

        $("#signupForm").validate({
            rules: {
                username: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 8
                },
                repeatPassword: {
                    required: true,
                    equalTo: $("#passwordField")
                },
                acceptTerms: {
                    required: true
                }
            },
            messages: {
                repeatPassword: "Must confirm the given password.",
                acceptTerms: "Must accept the terms to continue."
            },
            submitHandler: function(form) { submitSignup(form); }
        });

    });

    function submitSignup(form) {

        var data = $(form).serialize();

        var indexCheckMarks = data.lastIndexOf("acceptTerms");
        var split = data.substring(indexCheckMarks).replaceAll("on", "true");
        data = data.substring(0, indexCheckMarks) + split;

        $.ajax({
            url: '@(Url.Authentication().SignUp())',
            type: 'POST',
            data: data,
            cache: false
        }).done(function(data) {
            console.log("Signed up successfully.")
            window.location = '@Url.Home().Index()';
        }).fail(function(error) {
            notifyUser("There has been a problem trying to sign up.");
            console.error(error);
        });

    }

</script>